<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header"/>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container">
    <div class="starter-template">
       <table style="width:50%">
        <tr>
       <th> <h1>Virtual IT Bundle Core</h1></th>
        <th><h1>$9500</h1></th>
        </tr>
        </table> 
        <table style="width:65%">
  <tr >
    <th><h2>Line Items</h2></th>
    <th><h2>Product</h2></th> 
    <th></th> 
    <th><h2>Price</h2></th>
  </tr>
  
  <tr>
    <td><h3>1.Cisco Virtual Network</h3></td>
    <td><img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Network-Virtual-Machine-2-icon.png" width="150" height="150"></img></td> 
    <td></td>
    <td><h3>$3000</h3></td>
  </tr>
  
  <tr>
    <td><h3>2.Liberated Cloud IAAS Cluster </h3></td>
    <td><img src="http://4.bp.blogspot.com/-99PDnXqVAfE/T4cawTlaBRI/AAAAAAAAAPk/6w4AsSJPGNg/s1600/Picture5.png" width="150" height="150"></img></td> 
    <td></td>
    <td><h3>$5000</h3></td>
  </tr>
  <tr>
    <td><h3>3.Liberated Cloud ERP SASS Installation</h3></td>
    <td><img src="http://www.pvhc.net/img7/gaqxaotajkgumakooahd.png" width="150" height="150"></img></td> 
    <td></td>
    <td><h3>$1500</h3></td>
  </tr>
</table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>